* {
  margin: 0;
  padding: 0;
  font-family: "Iosevka";
}

@font-face {
  font-family: "Iosevka";
  src: url("../assets/iosevka-regular.ttc") format("ttc");
}

/* Animation */

@keyframes move-up {
  from {
    transform: translatey(0%);
  }
  to {
    transform: translatey(100%);
  }
}

.arrow-down {
  animation: move-up 1s infinite ease-out alternate;
}
