@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Base */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 🌙 Dark Mode */
html[class~="dark"] ::-webkit-scrollbar-track {
  background-color: #27272a;
}

html[class~="dark"] ::-webkit-scrollbar-thumb {
  background-color: #737373; /* Más claro para asegurar visibilidad */
}

html[class~="dark"] ::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}

/* ☀️ Light Mode */
html:not([class~="dark"]) ::-webkit-scrollbar-track {
  background-color: #e4e4e7;
}

html:not([class~="dark"]) ::-webkit-scrollbar-thumb {
  background-color: #71717a;
}

html:not([class~="dark"]) ::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}
