@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KiMedium";
  src: url("/public/Ki-Medium.ttf");
}

* {
  box-sizing: border-box;
}

html {
  background: #000 !important; /* where aajaja ? */
}

body {
  scrollbar-gutter: stable both-edges !important;
  font-family: "Cantarell", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
}

.special {
  font-family: "KiMedium";
}

a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}

.title {
  @apply text-xl font-bold capitalize md:text-4xl my-5;
}

.content {
  @apply text-neutral-500;
}
